{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerenciamento de funcionários{% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de funcionários', 
                'sub_titulo' : 'Interface para genenciar os funcionários no sistema'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'cabecalho' : ctrl.mensagem.cabecalho,
                    'tipo_msg' : ctrl.mensagem.tipo,
                    'descricao' : ctrl.mensagem.descricao
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item {{ ctrl.modoEditar ? 'active' : ''}}" data-tab="form">Formulário</div>
            <div class="item {{ ctrl.modoEditar ? '' : 'active'}}" data-tab="tabela">Tabela</div>
        </div>        
        <div class="ui bottom attached tab segment {{ ctrl.modoEditar ? 'active' : ''}}" data-tab="form">
            <form id="form_funcionario" class="ui form" method="post" 
                  action="front_controller.php">   
                <div class="field">
                    <label>Nome:</label>
                    <input type="text" name="campo_nome" 
                           placeholder="nome" value="{{ ctrl.entidade.nome }}">
                </div>
                <div class="field">
                    <label>CPF:</label>
                    <input type="text" id="campoCpf" name="campo_cpf" 
                           placeholder="___.___.___-__" value="{{ ctrl.entidade.cpf }}">
                </div>
                <div class="field">
                    <label>RG:</label>
                    <input type="text" id="campoRg" name="campo_rg" 
                           placeholder="___.___.___" value="{{ ctrl.entidade.rg }}">
                </div>
                <div class="fields">
                    {% if not ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'salvar');">
                                <i class="save icon"></i>Salvar
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoEditar%}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'cancelar_edicao');">
                                <i class="remove circle outline icon"></i>Cancelar Edição
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'enviar_funcionarios');">
                                <i class="reply all icon"></i>Enviar funcionários
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment {{ ctrl.modoEditar ? '' : 'active'}}" data-tab="tabela">
            {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_funcionario',
                    'funcao' : 'funcao_gerenciar_funcionario'
                }
            %}
        </div>
    </div>
{% endblock %}
