{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerenciamento de assunto{% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de usuário', 
                'sub_titulo' : 'Interface para gerenciar os usuários no sistema'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'mensagem' : ctrl.mensagem
                }
            %}
        {% endif %}
        <script type="text/javascript">
            function salvarUsuario() {
                $("#campo_senha").val(digest($("#campo_senha").val()));
                submeterForm(
                        'form_usuario',
                        'funcao_gerenciar_usuario',
                        'salvar');
            }
        </script>
        <div class="ui top attached tabular menu">
            <div class="item {{ ctrl.tab == 'tab_form' ? 'active' : '' }}" data-tab="form">Formulário</div>
            <div class="item {{ ctrl.tab == 'tab_tabela' ? 'active' : '' }}" data-tab="tabela">Tabela</div>
        </div>        
        <form id="form_usuario" class="ui form" method="post" 
              action="front_controller.php"> 
            <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_form' ? 'active' : '' }}" data-tab="form">

                <div class="field {{ 'campo_nome' in ctrl.validadorUsuario.camposInvalidos ? 'error' : '' }}">
                    <label>Nome:</label>
                    <input type="text" name="campo_nome" 
                           placeholder="nome" value="{{ ctrl.entidade.nome }}">
                </div>
                <div class="field {{ 'campo_email' in ctrl.validadorUsuario.camposInvalidos ? 'error' : ''}}">
                    <label>Email:</label>
                    <input type="text" name="campo_email" 
                           placeholder="email" value="{{ ctrl.entidade.email }}" />
                </div>
                <div class="field {{ 'campo_login' in ctrl.validadorUsuario.camposInvalidos ? 'error' : ''}}">
                    <label>Login:</label>
                    <input type="text" name="campo_login" 
                           placeholder="Login" value="{{ ctrl.entidade.login }}" />
                </div>
                <div class="field {{ 'campo_senha' in ctrl.validadorUsuario.camposInvalidos ? 'error' : ''}}">
                    <label>Senha:</label>
                    <input id="campo_senha" type="password" name="campo_senha"
                           placeholder="Senha"/>
                </div>
                <div class="fields">
                    {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                        <div class="field">
                            <div class="ui submit black button"
                                 onClick="salvarUsuario();">
                                <i class="unlock icon"></i>Salvar
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_usuario', 'funcao_gerenciar_usuario', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_tabela' ? 'active' : '' }}" data-tab="tabela">
                {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_usuario',
                    'funcao' : 'funcao_gerenciar_usuario'
                }
                %}
            </div>
        </form>
    </div>
{% endblock %}
