{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerenciamento de processos {% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Processos', 
                'sub_titulo' : 'Cadastro de processos no sistema '
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'cabecalho' : ctrl.mensagem.cabecalho,
                    'tipo_msg' : ctrl.mensagem.tipo,
                    'descricao' : ctrl.mensagem.descricao
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item {{ ctrl.modoEditar ? 'active' : ''}}" data-tab="form">Formulário</div>
            <div class="item {{ ctrl.modoEditar ? '' : 'active'}}" data-tab="tabela">Tabela</div>
        </div>
        <form id="form_processo" class="ui form" method="post" 
              action="front_controller.php">
            <div class="ui bottom attached tab segment {{ ctrl.modoEditar ? 'active' : ''}}" data-tab="form">

                <div class="field">
                    <label>Nº Processo:</label>
                    <input type="text" name="campo_numero_processo" placeholder="Número do Processo">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Assunto:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="assunto">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Assunto</div>
                            <div class="menu">
                                {% for assunto in ctrl.assuntos %}
                                    <div class="item" data-value="{{ loop.index }}">
                                        <i class="archive icon"></i>
                                        {{ assunto.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Departamento:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="departamento">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Departamento</div>
                            <div class="menu">
                                {% for departamento in ctrl.departamentos %}
                                    <div class="item" data-value="{{ loop.index }}">
                                        <i class="building icon"></i>
                                        {{ departamento.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui action input">
                        <input type="text" placeholder="Funcionário" 
                               value="{{ ctrl.funcionarios|length > 0 ? ctrl.funcionarios[0].nome : '' }}"
                               name="campo_funcionario"
                               data-value="{{ ctrl.funcionarios|length > 0 ? ctrl.funcionarios[0].id : '' }}">
                        <div class="ui button" 
                             onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'buscar_funcionario');">
                            <i class="search icon"></i>
                            Buscar
                        </div>
                    </div>
                </div>
                <div class="fields">
                    {% if not ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'salvar');">
                                <i class="save icon"></i>Salvar
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoEditar %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'cancelar_edicao');">
                                <i class="remove circle outline icon"></i>Cancelar Edição
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'enviar_processos');">
                                <i class="reply all icon"></i>Enviar funcionários
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'cancelar_enviar');">
                                <i class="remove circle outline icon"></i>Cancelar envio
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_processo', 'funcao_gerenciar_funcionario', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment {{ ctrl.modoEditar ? '' : 'active'}}" data-tab="tabela">
                {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_processo',
                    'funcao' : 'funcao_gerenciar_processo',
                    'modo_busca' : ctrl.modoBusca
                }
                %}
            </div>
        </form>
    </div>
{% endblock %}
