{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerencimento de Movimentação{% endblock %}

{% block body %}
    <br/>
    <br/>
    <div class="html ui top right attached segment">
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Movimentação ', 
                'sub_titulo' : 'Interface para gerenciar os movimentação no sistema'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'mensagem' : ctrl.mensagem
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item {{ ctrl.tab == 'tab_form' ? 'active' : '' }}" data-tab="form">Formulário</div>
            <div class="item {{ ctrl.tab == 'tab_tabela' ? 'active' : '' }}" data-tab="tabela">Tabela</div>
        </div> 
        <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_form' ? 'active' : '' }}" data-tab="form">
            <form id="form_movimentacao" class="ui form" method="post" 
                  action="front_controller.php">              
                <div class="field {{ 'campo_descricao' in ctrl.validadorMovimentacao.camposInvalidos ? 'error' : ''}}">
                    <label>Descrição:</label>
                    <input type="text" name="campo_descricao" placeholder="descricao" value="{{ ctrl.entidade.descricao }}">
                </div>

                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button"
                             onClick="submeterForm('form_movimentacao', 'funcao_gerenciar_movimentacao', 'salvar');">
                            <i class="save icon"></i>Salvar
                        </div>
                    </div>
                    {% if ctrl.modoEditar%}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_movimentacao', 'funcao_gerenciar_movimentacao', 'cancelar_edicao');">
                                <i class="remove circle outline icon"></i>Cancelar Edição
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_movimentacao', 'funcao_gerenciar_movimentacao', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_tabela' ? 'active' : '' }}" data-tab="tabela">
            {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_movimentacao',
                    'funcao' : 'funcao_gerenciar_movimentacao'
                }
            %}
        </div>
    {% endblock %}
