{# empty Twig template #}
{% extends "templates/base.twig" %}

{% block title %}Gerenciamento de processos {% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment" style="width: 100%">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Processos', 
                'sub_titulo' : 'Interface para gerenciar os processos no sistema '
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'mensagem' : ctrl.mensagem
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item {{ ctrl.tab == 'tab_form' ? 'active' : '' }}" data-tab="form"><i class="browser icon"></i>Formulário</div>
            <div class="item {{ ctrl.tab == 'tab_tabela' ? 'active' : '' }}" data-tab="tabela"><i class="table icon"></i>Tabela</div>
        </div>
        <form id="form_processo" class="ui form" method="post" 
              action="front_controller.php">
            <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_form' ? 'active' : ''}}" data-tab="form">

                <div class="field {{ 'campo_numero_processo' in ctrl.validadorProcesso.camposInvalidos ? 'error' : '' }}">
                    <label>Nº Processo:</label>
                    <input maxlength="30" type="text" name="campo_numero_processo" placeholder="Número do Processo" 
                           value="{{ ctrl.entidade.numeroProcesso }}">
                </div>
                <div class="two fields">
                    <div class="field {{ 'drop_assunto' in ctrl.validadorProcesso.camposInvalidos ? 'error' : '' }}">
                        <label>Assunto:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="assunto" value="{{ ctrl.entidade.assunto.descricao }}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Assunto</div>
                            <div class="menu">
                                {% for assunto in ctrl.assuntos %}
                                    <div class="item" 
                                         data-value="{{ assunto.descricao }}">
                                        <i class="archive icon"></i>
                                        {{ assunto.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field {{ 'drop_departamento' in ctrl.validadorProcesso.camposInvalidos ? 'error' : '' }}">
                        <label>Departamento:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="departamento" value="{{ ctrl.entidade.departamento.descricao }}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Departamento</div>
                            <div class="menu">
                                {% for departamento in ctrl.departamentos %}
                                    <div class="item" data-value="{{ departamento.descricao }}">
                                        <i class="building icon"></i>
                                        {{ departamento.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field {{ 'campo_funcionario' in ctrl.validadorProcesso.camposInvalidos ? 'error' : '' }}">
                    <label>Funcionário:</label>
                    <div class="ui action input">
                        <input type="text" placeholder="Buscar um funcionário" 
                               value="{{ ctrl.entidade.funcionario.nome }}"
                               name="campo_funcionario"
                               data-value="{{ ctrl.entidade.funcionario.id }}"
                               readonly="true">
                        <div class="ui button" 
                             onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'buscar_funcionario');">
                            <i class="search icon"></i>
                            Buscar
                        </div>
                        {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                            <div class="ui button red" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'remover_funcionario');">
                                <i class="delete icon"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="fields">
                    {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                        {% if not ctrl.modoBusca %}
                            <div class="field">
                                <div class="ui submit black button" 
                                     onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'salvar');">
                                    <i class="save icon"></i>Salvar
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if ctrl.modoEditar %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'cancelar_edicao');">
                                <i class="remove circle outline icon"></i>Limpar Campos
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'enviar_processos');">
                                <i class="reply all icon"></i>Enviar Processo
                            </div>
                        </div>
                    {% endif %}
                    {% if ctrl.modoBusca %}
                        <div class="field">
                            <div class="ui submit black button" 
                                 onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'cancelar_enviar');">
                                <i class="remove circle outline icon"></i>Cancelar Envio
                            </div>
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_processo', 'funcao_gerenciar_processo', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                Data
                            </th>
                            <th colspan="999">
                                Movimentações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pm in ctrl.entidade.processoMovimentacoes %}
                            <tr>
                                <td style="width: 25%;">{{ pm.dataMovimentacao|date("d/m/Y") }}</td>
                                <td>
                                    <div class="ui left icon fluid input">
                                        <i class="flag icon"></i>
                                        <input type="text" 
                                               name="movimentacao_{{ loop.index }}" 
                                               value="{{ pm.movimentacao.descricao }}"
                                               readonly="true">
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached tab segment {{ ctrl.tab == 'tab_tabela' ? 'active' : ''}}" data-tab="tabela">
                {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_processo',
                    'funcao' : 'funcao_gerenciar_processo',
                    'modo_busca' : ctrl.modoBusca
                }
                %}
            </div>
        </form>
    </div>
{% endblock %}
