{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Movimentação Processual{% endblock %}

{% block body %}
    <script type="text/javascript">
        /*var totalPms = {#{{ ctrl.entidade.processoMovimentacoes|length }}#};
         $(document).ready(function() {
         var selecionados = new Array();
         for (var i = 1; i <= totalPms; i++) {
         var val = $("#movimentacao_" + i).find("input").val();
         if (val != "") {
         selecionados.push(val);
         }
         }
         for (var i = 0; i < selecionados.length; i++) {
         for (var j = 1; j <= totalPms; j++) {
         if ($("#movimentacao_" + j).find("input").val() != selecionados[i]) {
         $.each($("#movimentacao_" + j), function(key, value) {
         if ($(this).text() == selecionados[i]) {
         $(this).hide();
         }
         });
         }
         }
         }
         });*/
    </script>
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Andamento Processual', 
                'sub_titulo' : 'Interface para gerenciar o andamento dos processos'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'mensagem' : ctrl.mensagem
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item active" data-tab="form">Formulário</div>
        </div>      
        <div class="ui bottom attached tab segment active" data-tab="form">
            <form id="form_processo_movimentacao" class="ui form" method="post" 
                  action="front_controller.php">                
                <div class="field">
                    <label>Processo:</label>
                    <div class="ui action input">
                        <input type="text" placeholder="Buscar processo" 
                               value="{{ ctrl.entidade.numeroProcesso }}"
                               name="campo_processo"
                               data-value="{{ ctrl.entidade.id }}"
                               readonly="true">
                        <div class="ui button" 
                             onclick="submeterForm('form_processo_movimentacao', 'funcao_gerenciar_processo_movimentacao', 'buscar_processo');">
                            <i class="search icon"></i>
                            Buscar
                        </div>
                        <div class="ui button red" 
                             onclick="submeterForm('form_processo_movimentacao', 'funcao_gerenciar_processo_movimentacao', 'remover_processo');">
                            <i class="delete icon"></i>
                        </div>
                    </div>
                </div>
                <table class="ui very basic table">
                    <tr>
                        <td style="width: 15%">
                            <div class="ui fluid label">
                                <i class="user icon"></i>
                                Funcionário: 
                            </div>
                        </td>
                        <td>
                            {{ ctrl.entidade.funcionario.nome }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui fluid label">
                                <i class="archive icon"></i>
                                Assunto: 
                            </div>
                        </td>
                        <td>
                            {{ ctrl.entidade.assunto.descricao }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui fluid label">
                                <i class="building icon"></i>
                                Departamento: 
                            </div>
                        </td>
                        <td>
                            {{ ctrl.entidade.departamento.descricao }}
                        </td>
                    </tr>
                </table>
                <div class="field">
                    <label>Movimentações:</label>
                    <div class="ui segment">
                        {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                            <div class="ui submit black button right aligned" 
                                 onclick="submeterForm(
                                                 'form_processo_movimentacao',
                                                 'funcao_gerenciar_processo_movimentacao',
                                                 'adicionar_movimentacao');">
                                <i class="plus icon"></i>Adicionar nova Movimentação
                            </div>
                        {% endif %}
                        <table class="ui celled striped table">
                            <thead>
                                <tr>
                                    <th>
                                        Data
                                    </th>
                                    <th colspan="999">
                                        Movimento
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pm in ctrl.entidade.processoMovimentacoes %}
                                    <tr>
                                        <td>{{ pm.dataMovimentacao|date("d/m/Y") }}</td>
                                        <td>
                                            <div id="movimentacao_{{ loop.index }}"
                                                 class="ui fluid search normal selection dropdown">
                                                <input type="hidden" 
                                                       name="movimentacao_{{ loop.index }}" 
                                                       value="{{ pm.movimentacao.descricao }}">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Selecione a Movimentação</div>
                                                <div class="menu">
                                                    {% for mov in ctrl.movimentacoes %}
                                                        <div class="item" data-value="{{ mov.descricao }}">
                                                            <i class="archive icon"></i>
                                                            {{ mov.descricao }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;width:1%;white-space:nowrap;">
                                            {% if pm.id is null %}
                                                <div class="ui submit red button">
                                                    <i class="delete icon"></i>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button"
                             onClick="submeterForm('form_processo_movimentacao', 'funcao_gerenciar_processo_movimentacao', 'salvar');">
                            <i class="save icon"></i>Salvar
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
