{# empty Twig template #}
<div class="ui basic segment center aligned" style="padding: 0em !important;" >
    {% include 'fragmentos/frag_paginador.twig' 
        with {
            'paginador' : modelo.paginador,
            'formulario' : formulario,
            'funcao' : funcao,
            'id' : 'pag_1'
        }
    %}
</div>
<script type="text/javascript">
    function excluirEntidade(indice) {
        $("#modal_excluir").modal({
            closable: true,
            onDeny: function() {
            },
            onApprove: function() {
                submeterForm('{{ formulario }}', '{{ funcao }}', indice);
            }
        }).modal('show');
    }
</script>
<table class="ui compact celled definition table">
    <thead>
        <tr>
            <th>
            </th>
            {% for cabecalho in modelo.cabecalhos %}
                <th>
                    {{ cabecalho }}
                </th>
            {% endfor %}
            {% if not modo_busca %}
                <th>
                </th>
                <th>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if not modelo.linhas %}
            {% for i in 1..5 %}
                <tr>
                    <td></td>
                    {% for cabecalho in modelo.cabecalhos %}
                        <td style="height: 40px"></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif%}
        {% for linha in modelo.linhas %} 
            <tr>
                {% if modo_busca %}
                    <td class="collapsing">
                        <div class="ui {{ linha.selecionado ? 'checked' : '' }} toggle checkbox">
                            <!-- Quando os inputs do tipo radio possuem o mesmo nome, eles pertecem ao mesmo 
                            grupo de radio botoes, entao apenas 1 selecionado por vez na interface-->
                            <input type="radio" name="radio_selecionado" value="radio_{{ loop.index }}"> 
                            <label></label>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for valor in linha.valores %}
                    <td>{{ valor }}</td>
                {% endfor %}
                {% if not modo_busca %}
                    {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                        <td style="text-align: center;width:1%;white-space:nowrap;">
                            <div class="ui submit black button" 
                                 onclick="submeterForm(
                                                 '{{ formulario }}',
                                                 '{{ funcao }}',
                                                 'editar_{{ loop.index }}');">
                                <i class="edit icon"></i>Editar
                            </div>
                        </td>
                        <td style="text-align: center;width:1%;white-space:nowrap;">
                            <div class="ui submit red button" 
                                 onclick="excluirEntidade('excluir_{{ loop.index }}');">
                                <i class="delete icon"></i>Excluir
                            </div>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>

</table>
<div class="ui basic segment center aligned" style="padding: 0em !important;" >
    {% include 'fragmentos/frag_paginador.twig' 
        with {
            'paginador' : modelo.paginador,
            'formulario' : formulario,
            'funcao' : funcao,
            'id' : 'pag_2'
        }
    %}
</div>
<div class="ui modal" id="modal_excluir">
    <i class="close icon"></i>
    <div class="header">
        Excluir informações do sistema.
    </div>
    <div class="image content">
        <div class="image">
            <i class="remove sign icon red"></i>
        </div>
        <div class="description">
            Deseja remover este item da tabela?
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button">Sim</div>
        <div class="ui negative button">Não</div>
    </div>
</div>
