{# empty Twig template #}
<table class="ui compact celled definition table">
    <thead>
        <tr>
            <th>    
            </th>
            <th colspan="999" style="text-align: center">
                {% include 'fragmentos/frag_paginador.twig' 
                    with {
                        'paginador' : modelo.paginador,
                        'formulario' : formulario,
                        'funcao' : funcao
                    }
                %}
            </th>
        </tr>
        <tr>
            <th>
            </th>
            {% for cabecalho in modelo.cabecalhos %}
                <th>
                    {{ cabecalho}}
                </th>
            {% endfor %}
            {% if not modelo.modoBusca %}
                <th>
                </th>
                <th>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for linha in modelo.linhas %} 
            <tr>
                {% if modelo.modoBusca %}
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for valor in linha.valores %}
                    <td>{{ valor }}</td>
                {% endfor %}
                {% if not modelo.modoBusca %}
                    <td style="text-align: center">
                        <div class="ui submit black button" 
                             onclick="submeterForm(
                                         '{{ formulario }}',
                                         '{{ funcao }}',
                                         'editar_{{ loop.index }}');">
                            <i class="edit icon"></i>Editar
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="ui submit black button" 
                             onclick="submeterForm(
                                         '{{ formulario }}',
                                         '{{ funcao }}',
                                         'excluir_{{ loop.index }}');">
                            <i class="delete icon"></i>Excluir
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot class="full-width">
        <tr>
            <th>
            </th>
            <th colspan="999" style="text-align: center">
                {% include 'fragmentos/frag_paginador.twig' 
                    with {
                        'paginador' : modelo.paginador,
                        'formulario' : formulario,
                        'funcao' : funcao
                    }
                %}
            </th>
        </tr>
    </tfoot>
</table>
