{# empty Twig template #}
<div class="ui basic segment center aligned" style="padding: 0em !important;" >
    {% include 'fragmentos/frag_paginador.twig' 
        with {
            'paginador' : modelo.paginador,
            'formulario' : formulario,
            'funcao' : funcao,
            'id' : 'pag_1'
        }
    %}
</div>
<table class="ui compact celled definition table">
    <thead>
        <tr>
            <th>
            </th>
            {% for cabecalho in modelo.cabecalhos %}
                <th>
                    {{ cabecalho }}
                </th>
            {% endfor %}
            {% if not modo_busca %}
                <th>
                </th>
                <th>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if not modelo.linhas %}
            {% for i in 1..5 %}
                <tr>
                    <td></td>
                    {% for cabecalho in modelo.cabecalhos %}
                        <td style="height: 40px"></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif%}
        {% for linha in modelo.linhas %} 
            <tr>
                {% if modo_busca %}
                    <td class="collapsing">
                        <div class="ui {{ linha.selecionado ? 'checked' : '' }} toggle checkbox">
                            <!-- Quando os inputs do tipo radio possuem o mesmo valor, eles pertecem ao mesmo 
                            grupo de radio botoes, entao apenas 1 selecionado por vez na interface-->
                            <input type="radio" name="radio_selecionado" value="radio_{{ loop.index }}"> 
                            <label></label>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for valor in linha.valores %}
                    <td>{{ valor }}</td>
                {% endfor %}
                {% if not modo_busca %}
                {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                    <td style="text-align: center;width:1%;white-space:nowrap;">
                        <div class="ui submit black button" 
                             onclick="submeterForm(
                                             '{{ formulario }}',
                                             '{{ funcao }}',
                                             'editar_{{ loop.index }}');">
                            <i class="edit icon"></i>Editar
                        </div>
                    </td>
                {% endif %}
                {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                    <td style="text-align: center;width:1%;white-space:nowrap;">
                        <div class="ui submit black button" 
                             onclick="submeterForm(
                                             '{{ formulario }}',
                                             '{{ funcao }}',
                                             'excluir_{{ loop.index }}');">
                            <i class="delete icon"></i>Excluir
                        </div>
                    </td>
                {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>

</table>
<div class="ui basic segment center aligned" style="padding: 0em !important;" >
    {% include 'fragmentos/frag_paginador.twig' 
        with {
            'paginador' : modelo.paginador,
            'formulario' : formulario,
            'funcao' : funcao,
            'id' : 'pag_2'
        }
    %}
</div>
